/* src/Pages/Header/Status/Status.css */

/* 구직 상태에 따른 색상 */
.status {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
}

/* 구직 중 */
.green {
  background-color: #4caf50;
  color: white;
}

/* 구직 완료 */
.red {
  background-color: #f44336;
  color: white;
}
