/* src/Pages/Header/Status/Status.css */

/* 구직 상태를 표현하는 상자 */
.status-box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

/* 구직 중 */
.green {
  background-color: #4caf50;
  color: white;
}

/* 구직 완료 */
.red {
  background-color: #f44336;
  color: white;
}
