/* src/Components/Header/Header.css */

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e5e5e5;
}

#header > .status, .introduce, .sites {
  display: flex;
}
