/* src/Pages/Container/Growth/Growth.css */

.growth {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
  display: none;
}

button {
  width: 7rem;
  height: 3rem;  
  
  position: absolute;
  top: 10%;
  right: 0%;
  
}

.growth.active {
  width: 40vw;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}
